{
	"\U5317\U4eac" = beijing;
	"\U4e0a\U6d77" = shanghai;
	"\U5e7f\U5dde" = guangzhou;
	"\U5929\U6d25" = tianjin;
	"\U6df1\U5733" = shenzhen;
	"\U5357\U4eac" = nanjing;
	"\U6210\U90fd" = chengdu;
	"\U957f\U6625" = changchun;
	"\U9999\U6e2f" = xianggang;
	"\U91cd\U5e86" = chongqing;
	"\U6c88\U9633" = shenyang;
	"\U6b66\U6c49" = wuhan;
	"\U897f\U5b89" = xian;
	"\U82cf\U5dde" = suzhou;
	"\U676d\U5dde" = hangzhou;
	"\U90d1\U5dde" = zhengzhou;
}